time-label {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 8px #6f6f6f;
    font-size: 128px;
}
date-label {
    color: rgb(246, 246, 246);
    font: 22px bold;
    text-shadow: 1px 1px 5px #6c6c6c;
}
